.dark .crt-scanlines::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.35) 50%);
    background-size: 100% 4px;
    pointer-events: none;
    z-index: 20;
}

html:not(.dark) .win95-box {
    border: 3px solid #dfdfdf;
    border-right-color: #404040;
    border-bottom-color: #404040;
    box-shadow: 2px 2px 0px #000;
}

html:not(.dark) .win95-inset {
    border: 2px solid #808080;
    border-right-color: #ffffff;
    border-bottom-color: #ffffff;
}